{% extends 'layout.html' %}

{% block body %}

<main>

    <center>

        <h1>Flask Blog-Lib</h1><br>
        <p>The developer platform</p><br>

        <hr>

        <br><br>

        <div id="job-options" style="display: block;">
            <h3>Apply for :</h3><br>
            <button style="float: left;" onclick="showJobForm('headLib')">Head Librarian</button>
            <button style=" float: right;" onclick="showJobForm('assistLib')">Assistant Librarian</button>
        </div>

        <div class="login-forms">

            <div id="headLib" style="display: none;">

                <form action="/jobs" method="POST">

                    <h3>Application for Head Librarian</h3><br>
                    <input type="text" placeholder="Full Name" name="name" required /><br><br>
                    <input type="email" placeholder="Email" name="email" required /><br><br>
                    <input type="tel" placeholder="Phone Number" name="phone" required /><br><br>

                    <button name='headLib' class="submit" type="submit">Apply</button>

                </form>

                <button onclick="hideJobForm('headLib'); dismissFlash('flash-message');"
                    style="float: right;">Back</button>

            </div>

            <div id="assistLib" style="display: none;">

                <form action="/jobs" method="POST">

                    <h3>Application for Assistant Librarian</h3><br>
                    <input type="text" placeholder="Full Name" name="name" required /><br><br>
                    <input type="email" placeholder="Email" name="email" value="{{email}}" required /><br><br>
                    <input type="tel" placeholder="Phone Number" name="phone" required /><br><br>

                    <button name='assistLib' class="submit" type="submit">Apply</button>

                </form>

                <button onclick="hideJobForm('assistLib'); dismissFlash('flash-message');"
                    style="float: right;">Back</button>

            </div>

        </div>

        <br><br><br><br>

        {% with messages= get_flashed_messages() %}
        {% if messages %}
        {% for message in messages%}
        <center>
            <div id="flash-message" class="alert-danger">
                <span>{{message}}</span>
                <button id='dismiss-flash-btn' onclick="dismissFlash('flash-message')">X</button>
            </div>
        </center><br>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </center>

</main>

{% endblock %}